# SPRINT 1 PRACTICE

In [ ]:
# practice 1(a)

In [102]:
roll_no=27
print(roll_no)
print(id(roll_no))
type(roll_no)

27
2503218719856

int

In [ ]:
#b

In [67]:
first_name = 'soni'
print(first_name)
print(id(first_name))
type(first_name)

soni
2503303204656

str

In [ ]:
#c

In [103]:
last_name = 'singh'
print(last_name)
print(id(last_name))
type(last_name)

singh
2503303337776

str

In [ ]:
#d

In [104]:
maxmarks=50
print(maxmarks)
print(id(maxmarks))
type(maxmarks)

50
2503218720592

int

# practice 2 (Naming of variable)

In [4]:
var1 = 2

In [ ]:
# the is syntax is true because variables start with alphabeticals.

In [46]:
2var = 2

SyntaxError: invalid syntax (2593071960.py, line 1)

#variables names cannot start with numbers.

In [7]:
var 1 = 2

SyntaxError: invalid syntax (1069141224.py, line 1)

In [ ]:
# there is no space btw variable and numeric value.

In [8]:
var$2 = 2

SyntaxError: invalid syntax (2085239645.py, line 1)

In [ ]:
#  variable names can't have special characters.

# practice 3 (Assigning values to a variables)

In [9]:
Class = 15

In [10]:
class = 15

SyntaxError: invalid syntax (1850406401.py, line 1)

In [ ]:
#python is case senstive language.

In [11]:
DEF = 13

In [12]:
def = 12

SyntaxError: invalid syntax (1759817278.py, line 1)

In [ ]:
#python is case senstive language.

In [64]:
a=TRUE

NameError: name 'tRUE' is not defined

In [ ]:
#TRUE should  write like 'True', why because python is case  senstive language.

In [72]:
b=false

NameError: name 'false' is not defined

In [ ]:
# false should  write like 'False', why because python is case  senstive language.

# practice 4 (Using (id))

In [68]:
#a
varmarks=3.5
print(varmarks)
print(id(varmarks))
type(varmarks)

3.5
2503302359440

float

In [70]:
#b
varmarks=4.6
print(varmarks)
print(id(varmarks))
type(varmarks)

4.6
2503302359056

float

In [ ]:
#The id in the last two no's are not same .

# practice 5 (Formatting the output)

In [8]:
#a
mark =81
print((mark/100)*100,'%')

81.0 %

In [96]:
#b
fullname = firstname+' '+lastname
firstname = 'John'
lastname = 'Doe'
print(fullname) # fullname

John Doe

In [13]:
#c
firstname = 'John'
lastname = 'Doe'
mark = 81
print(firstname+' '+lastname, "scored",(mark/100)*100,'%')

John Doe scored 81.0 %

# practice 6 (Creating data structure)

In [118]:
roll_no={11: 'soni' ,12 :"ram"}
print(roll_no)
print(type(a))

{11: 'soni', 12: 'ram'}
<class 'list'>

In [117]:
a=[10, "soni singh", 500]
print(a)
print(type(a))

[10, 'soni singh', 500]
<class 'list'>

# practice 7 (Arthimatic operation)

In [31]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#1 and 2 are in addition operation but there is no str in one character.

In [32]:
"1" + "2"

'12'

In [ ]:
# 1 and 2 are in addition operation with str.

In [33]:
1/2

0.5

In [ ]:
#float containing decimal values.

In [34]:
1//2

0

In [ ]:
#floor containing without decimal values.

# practice 8 (Logical operators)

In [39]:
a='True'
b='True'
print(a and b)

True

In [40]:
a='True'
b='False'
print(a and b)

False

In [42]:
a='False'
b='True'
print(a and b)

True

In [43]:
a='False'
b='False'
print(a and b)

False

# practice 9 (Identity and Membership operations)

In [148]:
firstname='Bhavani'
fullname='Bhavani Achary'
firstname in fullname

True

In [147]:
firstname='Bhavani'
fullname='Bhavani Achary'
firstname is fullname

False

# practice 10 (Associative)

In [ ]:
if a=4,b=3,c=2
d=a**b+c
e=a**(b+C)

In [ ]:
#a

In [55]:
d=4**3+2
print(d)

66

In [ ]:
#b

In [57]:
e=4**(3+2)
print(e)

1024

# practice 11 (creating a basics program)

In [ ]:
Area of a circle=3.14
radius=6

In [14]:
c=3.14*6*6
print(c)

113.03999999999999

In [ ]:
#113.14285 is the area of circle.

# practice 12 (creating a basics program)

In [132]:
selling_price=85
sales_tax=18/100

In [133]:
tax =selling_price*sales_tax
print(tax)

15.299999999999999

In [134]:
totalinclusive=(selling_price+sales_tax)
print(totalinclusive)              #total

85.18

# prcatice 13

In [136]:
doller1=75
money=3333
print(doller1/money)

0.022502250225022502

# practice 14

In [16]:
inflationrate=0.07
latercpi=500
earilercpi=latercpi/(inflationrate+1)
print('purchasing power of $500 last year is',earilercpi)

purchasing power of $500 last year is 467.2897196261682