# practice 1

In [41]:
# print name ("USA")
myname=["Joe", "Zoe", "World", "Brad", "Angelina", "World", "Zuki", "Tom", "Paris", "World", "Magic"]
if 'USA' in myname:
    print("true")
else:
    print("false")

false

# practice 2

In [59]:
myname=["Joe", "Zoe", "World", "Brad", "Angelina", "World", "Zuki", "Tom", "Paris", "World", "Magic"]
c=0
for i in myname:
    if 'World' in i:
        c=c+1
print(c)

3

# practice 3

In [45]:
# total count of even no's and odd no's.
even, odd= 0, 0

for i in range(1,30): 

    if i % 2 == 0: 

        even += 1

    else: 

        odd+= 1          

print("Even : ", even) 

print("Odd : ", odd)

Even :  14
Odd :  15

# practice 4

In [26]:
dataset = list(range(1,30))
a=[]
for number in dataset:
    if number % 2 == 0:
        a.append(number)
        if len(a) == 5:
            break
print(even_numbers)

[2, 4, 6, 8, 10]

# practice 5

In [93]:
#Odd numbers with last two odd no's.
c=0
for i in range(1,30,2):
    if i%2!=0:
        c=c+1
    if c==14 or c==15:
        print(i)

27
29

# practice 6

In [7]:
dataset=list(range(1,30))
x=[]
y=[]
for i in range(5):
    x.append(input('enter your number ='))
for i in range(5):
    y.append(input('enter your number ='))
x.extend(y)
print(x,y)

enter your number =1
enter your number =2
enter your number =3
enter your number =4
enter your number =5
enter your number =6
enter your number =7
enter your number =8
enter your number =9
enter your number =10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] ['6', '7', '8', '9', '10']

# practice 7

In [2]:
for i in range(1,41):
    if i<=10 or i>30:
        print(i*i, end =' ')

1 4 9 16 25 36 49 64 81 100 961 1024 1089 1156 1225 1296 1369 1444 1521 1600

# practice 8

In [14]:
number=int(input('enter ypur number ='))
for i in range(1,11):
    print(number, 'x',i, '=', number*i)

enter ypur number =5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50