# sprint_4 practice

# practice 1

In [27]:
n = int(input("Enter a number: "))

result = 1

while n > 0:
    result = result * n
    n = n - 1

print("The factorial is: ", result)

Enter a number: 5
The factorial is:  120

# practice 2

In [26]:
i = 2
while i <= 20:
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        print(i, end=' ')
    i=i+1

2 3 5 7 11 13 17 19

#  practice 3

In [85]:
n=12345
s=0
while n>0:
    r=n%10
    s=s+r
    n=n//10
    print('sum of digit is {}' .format(s))

sum of digit is 5
sum of digit is 9
sum of digit is 12
sum of digit is 14
sum of digit is 15

# practice 4

In [2]:
a=1
b=2
n=1
while n<=5:
    c=a+b
    if n==1:
        
    	print(a,b,c,end =' ')
    else:
        print(c,end = ' ')    
    a=b
    b=c
    n=n+1

1 2 3 5 8 13 21

# practice 5

In [2]:
t1=('apple','ball','cat','dog')
t2=('egg','fan','goat','hen')
print(id(t1))
print(id(t2))

2661928781440
2661895857872

In [10]:
t1=t1+t2
t1=('apple','ball','cat','dog')+('egg','fan','goat','hen')
print(t1+t2)
print(id(t1))

('apple', 'ball', 'cat', 'dog', 'egg', 'fan', 'goat', 'hen', 'egg', 'fan', 'goat', 'hen')
2661898765808

In [16]:

t1 = (1, 2, 3)
t2 = (4, 5, 6)

print("id of t1: ", id(t1))
print("id of t2: ", id(t2))

tl = t1 + t2

print("id of t1: ", id(t1))
print("id of t2: ", id(t2))
print("id of tl: ", id(tl))

id of t1:  2399872565440
id of t2:  2399872610944
id of t1:  2399872565440
id of t2:  2399872610944
id of tl:  2399872226784

In [ ]:
#The id of both the original tuples t1 and t2 will remain the same, whereas the newly created tuple tl will have a different id.

# practice 6

In [4]:
m={10,20,30,40,50}
n={30,40,50,60,70}
m.update(n)
print(m)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
# set does not allows duplicate elements.

# practice 7

In [51]:
port1={'Ftp':1, 'SSH':2, 'telnet':3, 'http':4}
for key, value in port1.items():
    if value%2==0:
        print(key, value)

SSH 2
http 4

# practice 8

In [13]:
squares = {}
for i in range(1,16):
    squares[i] = i**2

squares[100] = 10000

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

# practice 9

In [14]:
port1 = {21: 'FTP', 22:'SSH', 23: 'telnet', 80: 'http'}

port2 = {val: key for key, val in port1.items()}

print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

# practice 10

In [39]:
Employee = {

'Emp1': {'name': 'Sara', 'Dept': 'IT', 'Designation': 'Team Lead' },

'Emp2': {'name': 'Anna', 'Dept': 'IT', 'Designation': 'Senior Software Engineer' },

'Emp3': {'name': 'Andy', 'Dept': 'BioTech', 'Designation': 'Senior Software Engineer' },

'Emp4': {'name': 'Andy', 'Dept': 'BioTech', 'Designation': 'Senior Software Engineer' }

}
    
Emp ={}
for key,value in Employee.items():
    if value not in Emp.values():
        Emp[key]=value
print(Emp)

{'Emp1': {'name': 'Sara', 'Dept': 'IT', 'Designation': 'Team Lead'}, 'Emp2': {'name': 'Anna', 'Dept': 'IT', 'Designation': 'Senior Software Engineer'}, 'Emp3': {'name': 'Andy', 'Dept': 'BioTech', 'Designation': 'Senior Software Engineer'}}